fastapi
uvicorn[standard]
motor
pymongo<5.0
pydantic
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
bcrypt
aiosmtplib
python-multipart
requests
fastapi-mail
fastapi-cors
watchfiles
pytest
httpx
celery
twilio